/* h1{
    color: black;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* div{
    background-color: pink;
    width: 500px;
    height: 250px;
} */

body{
    background-color: black;
    color: white;
}

/* .description{
    text-align: center;
    font-family: Luminari, fantasy;
    color: red;
} */

.header, .description, .ingredients, .directions{
    color: yellow;
    background-color: pink;
    font-family: cursive;
    text-align: center;
    font-size: 15px;
}

.ingredients{
    font-family: Snell Roundhand, cursive;
}

.unordered{
    list-style-position: inside;
    text-align: center;
    padding: 50px;
    border: 50px solid blue;
    margin: 60px;
    color: blue;
    background-color: orange;
    font-family: American Typewriter, serif;
}

.ordered{
    color: green;
    background-color: blue;
}

p{
    background-color: aquamarine;
    color: black;

}

.one, .three{
    border: 5px dotted pink;
    padding: 5px;

}

.one{
    margin-bottom: 5px;
}

.three{
    margin-top: 5px;
}

.two{
   
    border: 5px dotted pink;
    /* padding: 5px; */
    border-bottom: 0px;
    border-top: 0px;
    
    
    /* margin: 5px;
    border-right: 5px dotted pink;
    border-left: 5px dotted pink;  */
    
}

.three{
    padding-left: 53px;
}


/* .one{
    color: purple;
    background-color: red;
    height: 100px;
} */

/* .two{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */